name: Benchmarks (1 thread)

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write

jobs:
  one-thread:
    runs-on: ubuntu-latest
    env:
      JULIA_NUM_THREADS: "1"

    steps:
      - uses: actions/checkout@v4
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: "1.11"
          script: benchmark/benchmarks.jl
