name: Benchmark
on:
  pull_request:
    branches:
      - main

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'
      - name: Install dependencies
        run: julia -e 'using AirspeedVelocity; AirspeedVelocity.main(["--rev=dirty", "--path=.", "--script=benchmark/benchmarks.jl", "--output-dir=.airspeedvelocity"])'
      - name: Run AirspeedVelocity
        uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: "1.11"
          job-summary: "true"
          enable-plots: "true"