name: Benchmarks

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write

jobs:
  one-thread:
    runs-on: ubuntu-latest
    env:
      JULIA_NUM_THREADS: "1"
    strategy:
      fail-fast: false
      matrix:
        julia-version: ["1.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.julia-version }}

  four-threads:
    runs-on: ubuntu-latest
    env:
      JULIA_NUM_THREADS: "4"
    strategy:
      fail-fast: false
      matrix:
        julia-version: ["1.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.julia-version }}