name: Benchmark
on:
  pull_request:
    branches:
      - main
      
permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: "1.11"
          rev: "release,${{ github.event.pull_request.head.sha }}"
          bench-on: ${{ github.event.pull_request.head.sha }}